
body{
  font-family: "Poppins", sans-serif; 
  font-weight: 700; 
  background-color: #E3F2F1;
}
.container{
  max-width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  border: 1px solid #B9DFDC; 
  margin: 5px auto;

}
.nav{
display: flex;
justify-content: space-between;
padding: 60px 0;
width:100%;
background-color: #D5ECEA;
}
.nav .right img{
  width: 24px;
  height: 24px;
  margin: 8px;
}
.left img{
  width: 24px;
  height: 24px;
  margin-top: 8px;
}
.nav .left{
  font-size: 20px; 
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: #1A3836;
  text-transform: uppercase;
   font-family: "Mukta", sans-serif;
  font-weight: 700;
}
.nav .right{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 6px ;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
a {
  text-decoration: none;
  color: #1A3836;
}
.home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  text-transform: uppercase;
  font-size: 16px;
  height: 75px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: end;
height: 75px;

background:linear-gradient(#B9DFDC, #ABD8D5);
border-bottom: 1px solid  #1A3836;
}
.login {
  width:70px;
  border: 1px solid white;
  height:36px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
 background-color: #0066ff; 
  align-items: center;
}
#log{
  background-color: #0066ff; 
  color: #E3F2F1;
}
.carousel {
  background-color: #D5ECEA;
}
.carousel img {
  width:100%;
}
.fade-out{
  transition: opacity 1s ease-in-out
 }
.main {
width: 100%;
display:flex;
justify-content:center;
}
.line {
  
display:flex;
justify-content:space-around;
background:linear-gradient(#B9DFDC, #ABD8D5);
border-top: 0.1rem solid #8FCCC8 ;
border-bottom: 0.1rem solid #8FCCC8 ;
box-shadow:10px 30px 110px 10px black ;
z-index:4;
}

.line img {
  width:2rem;
}


.intro {
  max-width:100%;
  height:24rem;

  border-bottom: 1px solid #397F79;
  height:40rem;
  /* background-color: #D5ECEA; */
  background: linear-gradient(

    0deg,
    rgb(171, 216, 211)0%,
    rgb(115, 191, 184)76%,
    rgb(39, 84, 79)100%
    );
  display:flex;
  justify-content:center;
  padding: 10px;
  z-index:1;
}
.lay-card{
  width:30rem;
  height: 20rem;
  background:linear-gradient(#B9DFDC, #ABD8D5);
  margin: 8px;
  padding: 16px;
  border-radius:0.5rem;
}
.lay-card a{
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 9rem;
  letter-spacing: 0.5px;
}
.lay-card a:hover{
  text-decoration: underline;
}
.lay-card img{
  width: 170px;
  margin-left: 6rem;
}
#h{
  margin-left: 5rem;
  color: #1A3836;
}
.text{
  margin-left: 2rem ;
  color: #1A3836;
}
.card {
  max-width:90rem;
  height:45rem;
  background:linear-gradient(#B9DFDC, #ABD8D5);
  padding:2rem;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3,1fr);
  grid-column-gap:2rem;
  /* grid-row-gap:0.1rem; */
  grid-template-areas:
  "1 2 3"
  "4 5 6";
}
    
.card1 {
  max-width:15rem;
  height: 10rem;
  margin-left:2.3rem;
  padding:13px;
  background-color: #C7E5E3;
  /* border-radius:1.2rem; */
 border-top-left-radius:45%;
 border-top-right-radius:45%;
  display:flex;
  justify-content:center;
  align-items:center;
  color: #1A3836;
  object-fit:cover;
  margin-bottom:none;
  margin-top:35px;
  

}
.card2 {
  max-width:15rem;
  height: 11rem;
  margin-left:2.3rem;
  background-color: #C7E5E3;
  /* border-radius:1.2rem; */
 border-bottom-left-radius:45%;
 border-bottom-right-radius:45%;
  display:flex;
  justify-content:center;
  align-items:center;
  color: #1A3836;
  font-size:10px;;
  display:block;
  justify-content:center;
  text-align:center;
  

}
h3 {
    font-size:12px; 
  }
.card img {
  width:100%;
  height:10rem;
  box-sizing:border-box;
  border-top-right-radius:45%;
  border-top-left-radius:45%;
 }  
hr {
width:2rem;    
 }
#1 {
  grid-area:1;


}

#2 {
grid-area:2;
}
#3 {
grid-area:3;
}
#4 {
grid-area:4;
}
#5 {
grid-area:5;
}

#6 {
grid-area:6;
}
.card1:hover{
background-color:#81C5C0;
color:white;
  cursor: pointer;
}

.footer {
  display:flex;
  justify-content:space-between;
  flex-direction: column;
  /* align-items:center; */
background-color:#81C5C0;
border-top: 1px solid #65B8B3;
}
.hr{
  border: none;
  width: 100%;
  background-color: #fff;
  height: 1px;
}
.address {
  padding: 1.6rem;
}
.address img {
  width:24px;
  margin-right: 1.1rem;
}
.address li{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 1rem;
}
.social_media {
  padding: 2.1rem;
}
#type{
  margin-right: 2rem;
}
.social_media_links img {
  width:24px;
}

@media (min-width:810px){
  .hr{
    display: none;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .address li{
    margin-right: 40rem;
    display: flex;
    flex-direction: row;
  }
  .social_media_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
